:root {
  --blucolor: #5161ce;
  --toastify-color-success: var(--blucolor) !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer-links {
  &:hover {
    color: var(--blucolor) !important;
    font-weight: 600;
    cursor: pointer;
    /* scale: 1.1; */
  }

  &:hover svg {
    fill: var(--blucolor);
    color: var(--blucolor);
    scale: 1.1;
  }
}

#main-search {
  border: 2px solid var(--blucolor);
  outline: var(--blucolor);
  &:focus {
    box-shadow: 0px 0px 10px 0px var(--blucolor);
  }
}

.login-input {
  border: 2px solid var(--blucolor) !important;
  outline: var(--blucolor) !important;
  &:focus {
    box-shadow: 0px 0px 10px 0px var(--blucolor);
  }
  &:checked {
    background-color: var(--blucolor) !important;
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: var(--blucolor);
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px var(--blucolor);
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.3;
}

.shade3 {
  opacity: 0.4;
}

.shade4 {
  opacity: 0.3;
}

.shade5 {
  opacity: 0.4;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

.overlay {
  background: #f6f5f7;
  background: -webkit-linear-gradient(to right, var(--blucolor), #00dbde);
  background: linear-gradient(to right, #6977d4, #b2b9e9);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 1.6s ease-in-out;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  width: 50%;
}

@media screen and (max-width: 575px) {
  .form-container {
    width: 100%;
    transform: translate(0) !important;
    & input,
    button {
      width: 70% !important;
      transition: all 0.6s ease-in-out !important;
    }
    transition: all 0.6s ease-in-out !important;
  }
}

@keyframes waviy {
  0%,
  100% {
    transform: translateY(0);
  }
  20%,
  60% {
    transform: translateY(-20px);
  }

  40%,
  80% {
    transform: translateY(0);
  }
}

.btn-outline-dark {
  --bs-btn-color: var(--blucolor) !important;
  --bs-btn-border-color: var(--blucolor) !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--blucolor) !important;
  --bs-btn-hover-border-color: var(--blucolor) !important;
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--blucolor) !important;
  --bs-btn-active-border-color: var(--blucolor) !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--blucolor) !important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--blucolor) !important;
  --bs-gradient: none;
}

.dropzone {
  border: 2px dashed var(--blucolor);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    
    border-width: 3px ;
    scale: 1.05;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
